

<div class="card text-bg-dark mb-3" style="width: 42rem;">
<div class="card-body">
<h1 class="card-header"><%= @article.title %></h1>

<p class="card-text" name="article-body"><%= @article.body %></p>
</div>
</div>
<p>
  <strong>Status of article:</strong>
  <%= @article.status %>
</p>



<button type="button" class="btn btn-dark mb-3"><%= link_to "Edit", edit_article_path(@article), class: "edit" %></button>
  <button type="button" class="btn btn-dark mb-3"><%= link_to "Delete", article_path(@article), class: "a-primary", data: {
    turbo_method: :delete
  }  %></button>

  <div class="card text-bg-dark mb-3 card border-secondary" style="width: 42rem;">
  <div class="card-body">
  <h2>Comments</h2>
  <%= render @article.comments %>
  </div>
  </div>
  
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  
  <button type="button" class="btn btn-dark mb-3">
      <%= link_to "Back to All Articles Page", root_path, class: "white-link" %>
  </button>